<p id="notice"><%= notice %></p>

<h1>Parent: <%= @user.name %> </h1>

<% if @user.students.count > 1 %>
<h2>Students:</h2>
<% else %>
<h2>Student:</h2>
<% end %>

<div class="mdl-cards">
  <% @user.students.each do |student| %>
      <div class="mdl-card mdl-shadow--4dp">
        <div class="mdl-card__media"><%= link_to(image_tag student.pic, class: "img-responsive") %></div>
        <div class="mdl-card__title">
          <div class="mdl-card__title-text"><h4><%= student.name %></h4></div>
        </div>
      </div>
  <% end %>
</div>
