.mdl-cards {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;

}

.mdl-card {

}

.mdl-card__media{
  background-color: white !important;
  margin: 0;
}

.mdl-button{
}

.mdl-card__media > img {
  max-width: 100%;
}

.content-grid {
  max-width: 1140px;
}
